/AWS-EC2/.terraform
/AWS-EC2/.terraform.lock.hcl
/AWS-EC2/terraform.tfstate
/AWS-EC2/terraform.tfstate.backup

/AWS-S3/.terraform
/AWS-S3/.terraform.lock.hcl
/AWS-S3/terraform.tfstate
/AWS-S3/terraform.tfstate.backup

/AWS-VPC/.terraform
/AWS-VPC/.terraform.lock.hcl
/AWS-VPC/terraform.tfstate
/AWS-VPC/terraform.tfstate.backup

/static_website/.terraform
/static_website/.terraform.lock.hcl
/static_website/terraform.tfstate
/static_website/terraform.tfstate.backup

/TF-Backend/.terraform
/TF-Backend/.terraform.lock.hcl
/TF-Backend/terraform.tfstate
/TF-Backend/terraform.tfstate.backup

/terraform.tfstate
/.env

